

# IDE files
.vscode/
.idea/
*.iml

# OS-specific files
.DS_Store
Thumbs.db

# Maven wrapper files
.mvn/wrapper/

# Log files
*.log

# Maven specific
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
